<div>oi</div>

<button
  mat-raised-button
  style="background-color: white; color: black; margin-bottom: 20px"
  (click)="onClick()"
>
  magia :O
</button>

<button
  mat-raised-button
  style="background-color: white; color: black; margin-bottom: 20px"
  (click)="desejaExcluirUsuario()"
>
  desejaExcluirUsuario? :O
</button>
<button
  mat-raised-button
  style="background-color: white; color: black; margin-bottom: 20px"
  (click)="logOut()"
>
  Logout? :O
</button>
<app-config-buttons
  [icon]="'/assets/svgs/departamentosIcon.svg'"
  [desc]="'Organize as conversas de sua empresa por departamentos'"
  [titulo]="'Departamentos'"
>
</app-config-buttons>
<app-config-buttons
  [icon]="'/assets/svgs/gruposIcon.svg'"
  [desc]="'Gerencie grupos e usuários importado no Active Directory'"
  [titulo]="'Grupos'"
>
</app-config-buttons>
<app-config-buttons
  [icon]="'/assets/svgs/permissoesIcon.svg'"
  [desc]="'Crie perfis de permissões para atribuir a equipes e usuários'"
  [titulo]="'Permissões'"
>
</app-config-buttons>
<app-config-buttons
  [icon]="'/assets/svgs/integracoesIcon.svg'"
  [desc]="'Faça conexão com outros sistemas'"
  [titulo]="'Integrações'"
>
</app-config-buttons>
<app-config-buttons
  [icon]="'/assets/svgs/equipesIcon.svg'"
  [desc]="'Gerencie os usuários do sistema'"
  [titulo]="'Equipes'"
>
</app-config-buttons>
<app-config-buttons
  [icon]="'/assets/svgs/numerosIcon.svg'"
  [desc]="'Conecte os números de telefone para dar acesso as conversas'"
  [titulo]="'Gerenciar Números'"
>
</app-config-buttons>
