/* You can add global styles to this file, and also import other style files */
.popupSwal {
  width: 100vw !important;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.closeButtonSwal {
  color: black !important;
}

.containerSwal {
  padding: 0 !important;
}

.imagemSwal {
  max-width: 70vw;
  height: auto;
}

html,
body {
  height: 100%;
  background-color: black;
  color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.excluirUsuarioPopUpSwal {
  min-width: 865px;
  min-height: 477px;
}

.titleExcluirUsuarioPopUp {
  font-weight: 500 !important;
  font-size: 33px !important;
}

.excluirButtonExcluirUsuarioSwal {
  background: #fa8181 !important;
  border-radius: 2px !important;
  padding: 14px 70px !important;
  font-size: 20px !important;
  color: #000000 !important;
}

.voltarButtonExcluirUsuarioSwal {
  background: #ebe9e9 !important;
  border-radius: 2px !important;
  font-size: 20px !important;
  padding: 14px 70px !important;
  color: #000000 !important;
}
